* {
   box-sizing: border-box;
}

body {
   font-family: Arial;
   overflow: hidden;
}

.main {
   display: flex;
   flex-direction: column;
   width: 100vw;
   height: 100vh;

   

   align-items: center;
   justify-content: space-evenly;

   position: relative;
}

.circle-block {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;


   width: 440px;
   height: 440px;

   position: relative;
}

.opacity-none {
   opacity: 0;
}

.percent {
   font-size: 80px;
   position: relative;
   color: #555555;
}

.percent:after {
   content:"%";
   font-size: 40px;
   color: #CCCCCC;
   position: absolute;

   right: 0;
}

.float {
   font-size: 40px;
}

.float:before {
   content:".";
   font-size: 64px;
}

.heading {
   font-size: 32px;
   font-weight: 600;
   color: #555555;
   margin-bottom: 3px;
}





.circles {
   position: absolute;


   top: 50%;
   left: 50%;
   transform: translate(-50%, -45%);
   width: 440px;
   height: 440px;
}

#circle-0,
#circle-1,
#circle-2,
#circle-3 {
   fill: none;
   stroke-linecap: round;
   stroke-dasharray: 604;
   stroke-dashoffset: 0;
}

#circle-0 {
   stroke: #ececec;
   stroke-linejoin: round;
   stroke-width: 7px;
   animation: drawGrey 1s linear;
}

#circle-1 {

   stroke: #693;
   stroke-width: 8px;

}

#circle-1,
#circle-2,
#circle-3 {
   stroke-miterlimit: 10;
   stroke-dashoffset: 604;
}

#circle-2 {

   stroke: #fcd329;
   stroke-width: 9px;
}

#circle-3 {
   stroke: #ED5243;
   stroke-width: 10px;
}

@keyframes drawGrey {
   from {
      stroke-dashoffset: 604;
   }

   to {
      stroke-dashoffset: 0;
   }
}

.video-fortnite-wrapper {
   display: none;

   width: 420px;
   height: 420px;
   position: absolute;
   z-index: -1;
   border-radius: 50%;

   margin-left: 5px;

   overflow: hidden;
}

.inputs {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: absolute;

   top: 50%;
   right: 10%;

   transform: translateY(-50%);
}

.inputs-label {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 28px;

   margin: 10px 0;
}

.percent-input {
   width: 300px;
   height: 40px;

   padding: 5px 10px;
   border: 1px solid #585858;
   margin: 5px 0;
   border-radius: 20px;

   font-size: 34px;
}

.percent-input-btn {

   display: flex;
   justify-content: center;

   font-size: 26px;
   color: #767676;

   background-color: #cccccc;
   border: none;
   border-radius: 20px;

   padding-top: 3px;
   width: 170px;
   height: 40px;
}

.green-input-btn:hover {
   background-color: #767676;
   color: #cccccc;

   transition: .3s;
}

.video-gorin-wrapper {
   display: none;

   width: 100vw;
   height: 100vh;

   top: 0;
   left: 0;

   z-index: -1;
   position: absolute;
   
}

.video-gorin {
   width: 100%;
   height: 100%;

   object-fit: cover;



   top: 0;
   left: 0;
}

.video-active {
   display: block;
}



.fortnite-gradient {
   display: none;

   background: linear-gradient(-45deg, #319236, #4C51F7, #9D4DBB, #F3AF19);
   background-size: 400% 400%;
   animation: Gradient .5s linear infinite;

   width: 100vw;
   height: 100vh;

   position: fixed;
   top:0;
   left:0;

   opacity: .9;

   overflow: hidden;
   z-index: -1;
}

.gradient-active {
   display: block;
   transition: .2s;
}

@keyframes Gradient {
   0% {
      background-position: 0% 50%
   }

   50% {
      background-position: 100% 50%
   }

   100% {
      background-position: 0% 50%
   }
}

/* Stats block */

.stats {
   display: grid;
   grid-template-rows: repeat(3, 1fr);
}

.stats-block {
   display: grid;
   grid-template-columns: repeat(3, 1fr);

   margin: 5px 0;
}

.stats-block-heading {
   font-size: 21px;
   font-weight: 700;
}

.stats-block-percent {
   display: flex;
   flex-direction: column;
   align-items: end;

   padding-right: 40px;
   margin: 0 10px;
}

.stats-block-percent-value {
   font-size: 21px;
   font-weight: 700;
}


.stats-block-visual {
   display: flex;
   position: relative;
}

.stats-block-visual-svg{
   background-color: #F9F9F9;
   border: 1px solid #ECECEC;
   border-radius: 4px;
}


.stats-block-visual-difference {
   font-size: 18px;
   position: absolute;

   top: 50%;
   right: 7px;

   transform: translateY(-50%);
}


